.about {
  padding-top: 0;
}

.about-name {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
}

.about-item {
  flex-basis: calc((100% - 90px) / 3);
}

.about-list {
  display: flex;
  justify-content: space-between;
}

.about-wrapper {
  position: relative;
}

.about-overlay {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 27px 0;

  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-font-color);
  background-color: rgba(47, 48, 58, 0.8);
}
