.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  padding: 40px;

  background: var(--white-font-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: var(--white-font-color);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  outline: none;
  fill: var(--btn-bg-color);
}

.modal-text {
  margin-bottom: 12px;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-font-color);
}

.contact-form-input {
  padding: 0;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
  outline: none;
  border-color: var(--btn-bg-color);
}

.contact-form-input:focus + .icon-contact-form {
  fill: var(--btn-bg-color);
}

.contact-form-field {
  display: block;
}

.contact-form-field {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.contact-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
}

.icon-contact-form {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 16px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-message::placeholder {
  text-transform: uppercase;
}

.contact-form-message:focus {
  outline: none;
  border-color: var(--btn-bg-color);
}

.contact-form-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  padding: 0;
  margin: auto;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  background-color: var(--btn-bg-color);
  color: var(--white-font-color);
}

.contact-form-checkbox-agreement::before {
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 16px;
  margin-right: 8px;

  border: 2px solid var(--primary-font-color);
  border-radius: 3px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-checkbox-agreement {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-font-color);
}

.chackbox-accept-policy:checked + .contact-form-checkbox-agreement::before {
  background-image: url(../img/icons/icon-check.svg);
}

.chackbox-accept-policy:focus + .contact-form-checkbox-agreement::before {
  outline: none;
  border-color: var(--btn-bg-color);
}

.policy {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: var(--btn-bg-color);
}

.visually-hidden {
  position: absolute;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
