:root {
  --primary-font-family: Roboto, sans-serif;
  --primary-font-color: #212121;
  --secondary-font-family: Raleway, sans-serif;
  --secondary-font-color: #757575;
  --white-font-color: #ffffff;
  --accent-color: #188ce8;
  --btn-bg-color: #2196f3;
  --shadow-btn-color: #f5f4fa;
  --bg-dark-color: #2f303a;
}
