body {
  font-family: var(--primary-font-family);
}

h1,
h2,
h3,
p {
  margin: 0;
  margin: 0;
}

ul,
li {
  margin: 0;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

// @media screen and (min-width: 480px) {
//   padding-top: 60px;
//   padding-bottom: 60px;
// }

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.header__logo {
  padding-top: 6px;
}

.logo-studio {
  color: var(--primary-font-color);
}
